.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
*.ipr
*.iws
.git
.DS_Store
.settings/*
/indexes/*
/target/*
/docs/local
/datalogs
/data
*/target/
*/*/target/
.ideaDataSources
/local/*
/dataSources/*